language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

install:
  - sudo apt-get install gfortran
  - pip install -r requirements.txt
  - python setup.py build

script:
  - pip install nose
  - python setup.py test
